{% extends 'base.html' %}
{% block title %}新建表单{% endblock %}
{% block nav %}<a href="{% url 'workflow:creat_form' %}" class="current">创建的表单</a>{% endblock %}
{% block left %}
    <div class="span12 ">
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>新建短消息</h5>
            </div>
            <div class="widget-content nopadding  ">
                <form action="." class="form-horizontal" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="control-group">
                            {{field.error}}
                            <label for="normal" class="control-label">{{ field.label }}</label>
                            <div class="controls">
                                {{ field}}
                            </div>
                        </div>
                    {% endfor %}

{#                #}
{#                    <div class="form-group">#}
{#                        <label for="normal" class="control-label">相关人员</label>#}
{#                        <div class="controls">#}
{#                            <select name="person" multiple class="form-control">#}
{#                                {% for i in person_name %}#}
{#                                    <option value="{{ i.person.first_name }}">{{ i.person.first_name }}</option>#}
{#                                {% empty %}#}
{#                                    <option value="1">无</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
{##}
{#                    </div>#}
                    <p><font color="#f8f8ff">这里有彩蛋哦！这里有彩蛋哦！这里有彩蛋哦！</font><input  type="submit" value="&nbsp;提&nbsp;交&nbsp;&nbsp;" class="btn-lg btn-primary "></p>

                </form>
            </div>
        </div>
        <br/>
        <br/><br/>
        <br/>
        <br/>
        <br/>
    </div>
{% endblock %}



