{% extends 'base.html' %}
{% load staticfiles %}
{% load my_tag %}

{% block title %}短消息{% endblock %}
{% block nav %}<a href="{% url 'workflow:mymessage' %}" class="current">我的收件箱</a>{% endblock %}
{% block left %}
    {% with ms=message  %}
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box widget-chat">
                    <div class="widget-title bg_lb"> <span class="icon"> <i class="icon-comment"></i> </span>
                        <h5>收件箱</h5>
                    </div>
                    <div class="widget-content nopadding collapse in" id="collapseG4">
                        <div class="chat-users panel-right2">
                            <div class="panel-title">
                                <h5>用户</h5>
                            </div>
                            <div class="panel-content nopadding">
                                <ul class="contact-list">
                                    <li id="user-Alex" class="online ">{% comment %}<a href="{% static  ms.first.from_user.profile.photo %}">{% endcomment %}<img style="height: 50px;width:50px" alt="头像" src="{{ ms.first.from_user.profile.photo|static_file }}"> <span>{{ ms.first.from_user }}</span></a></li>
                                    <li id="user-John" class="online ">{% comment %}<a href="#">{% endcomment %}<img style="height: 50px;width:50px" alt="头像" src="{{ ms.first.to_user.profile.photo|static_file }}"> <span>{{ ms.first.to_user }}</span></a><span class="msg-count badge badge-info"></span></li>

                                </ul>
                            </div>
                        </div>
                        <div class="chat-content panel-left2">
                            <div class="chat-messages" id="chat-messages">
                                <div id="chat-messages-inner">
                                    {% for i in ms %}
                                        <p id="msg-1" class="user-linda" style="display: block;">
                                            {% if i.from_user = ms.first.from_user %}
                                                <span class="msg-block"><img src="{{ ms.first.from_user.profile.photo|static_file }}" alt="">
                                            {% else %}
                                                <span class="msg-block"><img src="{{ ms.first.to_user.profile.photo|static_file }}" alt="">
                                            {% endif %}
                                            <strong>{{ i.from_user.first_name }}说</strong> <span class="time">{{ i.created|date:"m月d日"  }}</span>
                                            <span class="msg">{{ i.content }}</span>
                                            </span></p>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="chat-message well">
                                <form action="." method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-success">Send</button>
                                    <span class="input-box">
                                        <input type="hidden" name='title' value="回复:{{ ms.last.title }}">
                                        <input type="hidden" name='mark_id' value="{{ ms.first.marks }}">
                                        <input type="hidden" name='to_user' value="{{ ms.first.from_user.id}}">
                                        <input type="text" name="msg" id="msg-box">
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endwith %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.ui.custom.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/matrix.tables.js' %}"></script>
{% endblock %}
