{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}涉及我的表单{% endblock %}
{% block nav %}<a href="{% url 'workflow:relatedform' %}" class="current">涉及我的表单</a>{% endblock %}
{% block left %}

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
                    <h5>涉及我的工单</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>创建人</th>
                            <th>标题</th>
                            <th>描述</th>
                            <th>创建时间</th>
                            <th>计划完成时间</th>
                            <th>相关人员</th>
                            <th>处理状态</th>
                            <th>部门</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for myform in myforms %}
                            <tr class="center">
                                <td>{{ myform.creater.first_name }}</td>
                                <td>{{ myform.title }}</td>
                                <td>{{ myform.description}}</td>
                                <td>{{ myform.create_time|date:"Y年m月d日" }}</td>
                                <td>{{ myform.plan_finish_time|date:"Y年m月d日" }}</td>
                                <td>{{ myform.related_person}}</td>
                                <td>{{ myform.who_is_processing }}→→{{ myform.status_level }}</td>
                                <td>{{ myform.department }}</td>
                            </tr>
                        {% empty %}
                            <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>暂时没有工单</th>
                            </tr>
                            </thead>
                        {% endfor %}
                        </tbody>
                        </table>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                    <h5>需要我处理的表单</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table">
                        <thead>
                        <tr>
                            <th>创建人</th>
                            <th>标题</th>
                            <th>描述</th>
                            <th>创建时间</th>
                            <th>计划完成时间</th>
                            <th>相关人员</th>
                            <th>处理状态</th>
                            <th>部门</th>
                            <th>转交给</th>
                            <th>修改状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for myprocess in myprocesses %}
                            <tr class="center">
                                <td>{{ myprocess.creater.first_name }}</td>
                                <td>{{ myprocess.title }}</td>
                                <td>{{ myprocess.description}}</td>
                                <td>{{ myprocess.create_time|date:"Y年m月d日" }}</td>
                                <td>{{ myprocess.plan_finish_time|date:"Y年m月d日" }}</td>
                                <td>{{ myprocess.related_person}}</td>
                                <td>{{ myprocess.who_is_processing }}→{{ myprocess.status_level }}</td>
                                <td>{{ myprocess.department }}</td>
                                <td><span><form action="." class="form-inline" method="post">
                                     {% csrf_token %}
                                    <select name="change_person" class="input-small" >
                                        {% for i in person_name %}
                                            <option value ="{{ myprocess.id }}+{{i.person.first_name }}">{{i.person.first_name }}</option>
                                        {% endfor %}

                                    </select>
                                    <input type="submit" value="确定" class="btn btn-warning ">
                                </form>
                                </td>
                                <td><span><form action="." class="form-inline" method="post">
                                    {% csrf_token %}
                                    {% if user.department.level == '经理' %}
                                        <input type="hidden" name="change_status" value ="{{ myprocess.id }}+审批通过">&nbsp; 审批通过&nbsp;<span>&nbsp; </span>  </input>
                                    {% endif %}
                                    {% if user.department.level == '职员' %}
                                        <select name="change_status" class="input-small" >
                                            <option value ="{{ myprocess.id }}+修改中">修改中</option>
                                            <option value ="{{ myprocess.id }}+验证中">验证中</option>
                                            <option value ="{{ myprocess.id }}+审批中">审批中</option>
                                    </select>
                                    {% endif %}
                                    <input type="submit" value="确定" class="btn btn-warning ">
                                </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.ui.custom.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/matrix.tables.js' %}"></script>
{% endblock %}
