{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}垃圾箱{% endblock %}
{% block nav %}<a href="{% url 'workflow:trash' %}" class="current">垃圾箱</a>{% endblock %}
{% block left %}


    <script>
        $(document).ready(function() {
            $("button#msg_back").click(function() {
                var msg_from_back_id=$(this).attr("msg_from_back_id");
                var msg_to_back_id=$(this).attr("msg_to_back_id");
                $(this).parent().parent().remove();
                $.post({% url 'workflow:msg_back_ajax' %},{msg_from_back_id:msg_from_back_id, msg_to_back_id:msg_to_back_id},function(data){
                    console.log(data);
                    alert(data["status"]);
                });
            });
            $("button#msg_del").click(function() {
                var msg_from_del_id=$(this).attr("msg_from_del_id");
                var msg_to_del_id=$(this).attr("msg_to_del_id");
                $(this).parent().parent().remove();
                $.post({% url 'workflow:msg_back_ajax' %},{msg_from_del_id:msg_from_del_id, msg_to_del_id:msg_to_del_id},function(data){
                    console.log(data);
                    alert(data["status"]);
                });
            });
        })
    </script>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                    <h5>收件箱垃圾箱</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table">
                        <thead>
                        <tr>
                            <th>发件人</th>
                            <th>标题</th>
                            <th>内容</th>
                            <th>发送时间</th>
                            <th>操作</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for message in trash_from %}
                            <tr class="center">
                                <div>
                                    <td>{{ message.from_user.first_name }}</td>
                                    <td><a href="{{ message.get_absolute_url }}">{{ message.title }}&nbsp&nbsp&nbsp{% if message.accept_msg_status == 1 %}<img style='width: 28px;height:28px' src="{% static 'img/new.png' %}">{% endif %}</a></td>
                                    <td><a href="{{ message.get_absolute_url }}">{{ message.content}}</a></td>
                                    <td>{{ message.created|date:"Y年m月d日" }}</td>
                                    <td style="width: 4cm">
                                        <button msg_from_back_id='{{ message.id }}' id="msg_back" class="btn btn-info " >恢复</button>
                                        &nbsp;&nbsp;<button msg_from_del_id='{{ message.id }}' id="msg_del" class="btn btn-danger " >彻底删除</button>
                                    </td>
                                </div>
                            </tr>
                        {% endfor %}
                        

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                    <h5>发件箱垃圾箱</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table">
                        <thead>
                        <tr>
                            <th>收件人</th>
                            <th>标题</th>
                            <th>内容</th>
                            <th>发送时间</th>
                            <th>操作</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for message in trash_to %}
                            <tr class="center">
                                <div>
                                    <td>{{ message.to_user.first_name }}</td>
                                    <td><a href="{{ message.get_absolute_url }}">{{ message.title }}</a></td>
                                    <td><a href="{{ message.get_absolute_url }}">{{ message.content}}</a></td>
                                    <td>{{ message.created|date:"Y年m月d日" }}</td>
                                    <td style="width: 4cm">
                                        <button msg_to_back_id='{{ message.id }}' id="msg_back"  class="btn btn-info "> 恢复 </button>
                                        &nbsp;&nbsp;<button msg_to_del_id='{{ message.id }}' id="msg_del" class="btn btn-danger " >彻底删除</button>
                                    </td>
                                </div>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.ui.custom.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/matrix.tables.js' %}"></script>
{% endblock %}
